.main-image img {
  width: 30%;
  float: right;
  height: auto;
  padding-bottom: 4rem;
}

.home {
  width: 100%;
  padding: 50px;
  border: solid silver;
  border-width: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


