* {
  box-sizing: border-box;
}

html {
  /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'DM Serif Display', serif; */
  font-family: 'Patua One', cursive;
  background: #1f1f1f;
  color: rgb(132, 233, 132)
}

body {
  margin: 0;
}