.button {
  font: inherit;
  border: 1px solid #de8dee;
  background: #280130;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #d0afd6;
  border-color: #741188;
  color: black;
}

.button:focus {
  outline: none;
}
